@model BullsAndCows.Web.ViewModels.GameStateViewModel
@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Player</div>
            <div class="panel-body">
                <div id="number-controls">
                    @if (Model.GameViewModel.PlayerNumber == null)
                    {
                        using (Ajax.BeginForm("Start", new AjaxOptions
                        {
                            UpdateTargetId = "number-controls",
                            InsertionMode = InsertionMode.Replace,
                            OnComplete = "showGameBoard"
                        }))
                        {
                            <label for="player-number">Enter your secret number</label>
                            <input type="text" id="player-number" name="playerNumber" />
                            <input type="submit" value="Start" />
                        }
                    }
                    else
                    {
                        Html.RenderPartial("_NumberControlsGameStarted", Model.GameViewModel);
                    }
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Guess</th>
                            <th>Bulls</th>
                            <th>Cows</th>
                        </tr>
                    </thead>
                    <tbody id="player-guess-list">
                        @foreach (var item in Model.PlayerGuesses)
                        {
                            @Html.Partial("_GuessRow", item);
                        }
                    </tbody>
                </table>
            </div>

            <div class="panel-footer" id="player-guess-controls">
                @using (Ajax.BeginForm("MakeGuess",
                    new { isComputerGuess = false },
                    new AjaxOptions
                    {
                        UpdateTargetId = "player-guess-list",
                        InsertionMode = InsertionMode.InsertAfter,
                        OnComplete = "OnPlayerGuessComplete"
                    }))
                {
                    <label for="player-guess">Your guess:</label>
                    <input type="text" id="player-guess" name="guessNumber" />
                    <input type="submit" value="make guess" />
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">Computer</div>
            <div class="panel-body">
                <div id="number-controls">

                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Guess</th>
                            <th>Bulls</th>
                            <th>Cows</th>
                        </tr>
                    </thead>
                    <tbody id="computer-guess-list">
                        @foreach (var item in Model.ComputerGuesses)
                        {
                            @Html.Partial("_GuessRow", item);
                        }
                    </tbody>
                </table>
            </div>

            <div class="panel-footer" id="computer-guess-controls">
                <span class="hidden" id="waiting-computer-guess">Waiting oponent...</span>
            </div>
        </div>
    </div>
</div>

<script>
    function showGameBoard() {
        //$('#guess-controls').removeClass('hidden');
    }

    function OnPlayerGuessComplete() {
        $('#waiting-computer-guess').removeClass('hidden');

        setTimeout(function () {
            // jQuery hack to load partial template into computer guess list
            var a = $('<div>').load('@Url.Action("MakeGuess", "Game")', function () {
                $(this).find('tr').first().appendTo('#computer-guess-list');
            })

            $('#waiting-computer-guess').addClass('hidden');
        }, 2000); // Set random timer for better user experience
    }
</script>