@model BullsAndCows.Web.ViewModels.GameStateViewModel
@{
    ViewBag.Title = "Play"; 
}

<h2>Play</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Player</div>
    <div class="panel-body">
        <div id="number-controls">
            @using (Ajax.BeginForm("Start", new AjaxOptions
            {
                UpdateTargetId = "number-controls",
                InsertionMode = InsertionMode.Replace,
                OnComplete = "showGameBoard"
            }))
            {
                <label for="player-number">Enter your secret number</label>
                <input type="text" id="player-number" name="playerNumber" />
                <input type="submit" value="Start" />
            }
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Guess</th>
                    <th>Bulls</th>
                    <th>Cows</th>
                </tr>
            </thead>
            <tbody id="player-guess-list">
                @foreach (var item in Model.PlayerGuesses)
                {
                    @Html.Partial("_GuessRow", item);
                }
            </tbody>
        </table>
    </div>

    <div class="panel-footer" id="guess-controls">
        @using (Ajax.BeginForm("MakeGuess", new AjaxOptions
        {
            UpdateTargetId = "player-guess-list",
            InsertionMode = InsertionMode.InsertAfter
        }))
        {
            <label for="player-guess">Your guess:</label>
            <input type="text" id="player-guess" name="playerGuess" />
            <input type="submit" value="make guess" />
        }
    </div>
</div>

<script>
    function showGameBoard() {
        //$('#guess-controls').removeClass('hidden');
    }
</script>