@model IList<BullsAndCows.Web.ViewModels.HighScoreViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Scores</h2>

<table class="table table-hover table-striped">
    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Wins</th>
        <th>Losess</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@Model[i].UserName</td>
            <td>@Model[i].WinCount</td>
            <td>@Model[i].LoseCount</td>
        </tr>
    }
</table>

