@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bulls And Cows</h1>
    <p class="lead">Bulls and Cows (also known as Cows and Bulls or Pigs and Bulls or Bulls and Cleots) is an old code-breaking mind or paper and pencil game for two or more players, predating the commercially marketed board game Mastermind.</p>
    <p><a href="https://en.wikipedia.org/wiki/Bulls_and_Cows" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Game Rules</h2>
        <p>
            The goal is to be the first player to successfully decode your opponent's secret number. Each player secretly writes a four-digit number. The digits must all be different. Players take turns trying to guess their opponent's number. The opponent tells them the number of matches.
        </p>
        <p>
            Right number, wrong place is a "cow." Right number, right place is a "bull."
        </p>
    </div>

    <div class="col-md-6">
        <h2>Brief History</h2>
        <p>
            The exact year when the number guessing game Bulls and Cows was invented is not known. "Bulls and Cows has been played as a paper-and-pencil game for a century or more. I first played a computer version in 1968 on Titan, the Cambridge University Atlas" (John Francis, 2010 [1]).
        </p>
        <p><a class="btn btn-default" href="http://codebreaker-mastermind-superhirn.blogspot.bg/2012/07/bulls-and-cows-mastermind-superhirn.html" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>